<div class="row">
  <h5 class="offset-md-2 text-center mt-4 mb-4" style="background-color:#dcdcdc;">
    &emsp;会員情報編集&emsp;
  </h5>
</div>


<div class="container">
  <div class="row ml-4">
    <div class="col-7">

    <%= form_with model: @customer, url: customers_information_path(@customer.id), method: :patch do |f| %>

      <div class="form-group row">
        <label class="col-md-4">氏名</label>
        <div class="form-inline">
          <%= f.text_field :last_name %>&emsp;
          <%= f.text_field :first_name %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-4">フリガナ</label>
        <div class="form-inline">
          <%= f.text_field :last_name_kana %>&emsp;
          <%= f.text_field :first_name_kana %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-4">郵便番号</label>
          <%= f.text_field :postal_code %>
      </div>

      <div class="form-group row">
        <label class="col-md-4">住所</label>
          <%= f.text_field :address, class: "col-md-8" %>
      </div>

      <div class="form-group row">
        <label class="col-md-4">電話番号</label>
          <%= f.text_field :telephone_number %>
      </div>

      <div class="form-group row">
        <label class="col-md-4">メールアドレス</label>
          <%= f.text_field :email %>
      </div>


      <div class="form-inline">
        <%= f.submit '編集内容を保存', class: "btn btn-success col-md-4 offset-md-4 mt-3 mr-5" %>
        <%= link_to '退会する', customers_unsubscribe_path, class: "btn btn-danger mt-3 ml-5" %>
      </div>

    <% end %>

    </div>
  </div>
</div>