<div class="container">
  <div class="row">
    <h5 class="offset-md-2 text-center mt-5 mb-5" style="background-color:#dcdcdc;">
      &emsp;商品編集&emsp;
    </h5>
  </div>


  <div class="row">
    <div class="px-3 mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

    <%= form_with model: @item, url:admin_item_path(@item.id) do |f| %>

      <div class="form-group row">
        <label class="col-md-3">商品画像</label>
          <%= f.file_field :image, accept: "image/*" %>
      </div>

      <div class="form-group row">
        <label class="col-md-3">商品名</label>
          <%= f.text_field :name, class: "col-md-8" %>
      </div>

      <div class="form-group row">
        <label class="col-md-3">商品説明</label>
          <%= f.text_area :introduction, class: "col-md-8" %>
      </div>

      <div class="form-group row">
        <label class="col-md-3">ジャンル</label>
        <%= f.collection_select :genre_id, Genre.all, :id, :name %>
      </div>

      <div class="form-group row">
        <label class="col-md-3">税抜価格</label>
          <%= f.text_field :price, class: "col-md-8", placeholder: "1000" %>
      </div>

      <div class="form-group row">
        <label class="col-md-3">販売ステータス</label>

          <div class="form-check form-check-inline">
            <%= f.radio_button :is_active, true, checked: true %>
            <label class="form-check-label" for="inlineRadio1">販売中</label>
          </div>

         <div class="form-check form-check-inline">
            <%= f.radio_button :is_active, false %>
            <label class="form-check-label" for="inlineRadio2">販売停止中</label>
         </div>
      </div>

      <div class="form-group row">
        <%= f.submit '変更を保存', class: "btn btn-success col-md-3 offset-md-4 mt-3" %>
      </div>
    <% end %>

    </div>
  </div>
</div>