<h5 class="col-md-1 offset-md-2 text-center mt-4 mb-4" style="background-color:#dcdcdc;">
  会員一覧
</h5>


<div class="px-5 mx-auto col-2 col-sm-8">
  <table class="table">

    <thead style="background-color:#f5f5f5;">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td>
         <%= customer.id %>
        </td>
        <td>
         <%= customer.last_name %><%= customer.first_name %>
        </td>
        <td>
         <%= customer.email %>
        </td>
        <td>
         <%= customer.s_deleted %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @customers %>
</div>
