<div class="container">
  <div class="row">
    <h5 class="col-md-3 offset-md-1 text-center mt-4 mb-5" style="background-color:#dcdcdc;">
      ジャンル一覧・追加
    </h5>
  </div>

    <div class="form-group row">
      <label class="col-md-2 mb-4">ジャンル名</label>
      <%= form_with model: @genre do |f| %>
        <%= f.text_field :name, class: "col-md-15", placeholder: "ジャンル名" %>
        <%= f.submit '新規登録', class: "btn btn-success ml-5" %>
      <% end %>
    </div>

    <div class="px-5 col-10 col-sm-5">
      <table class="table">

      <thead style="background-color:#f5f5f5;">
        <tr><th>ジャンル</th></tr>
      </thead>

    <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td>
          <%= genre.name %>

          <div class="form-group row">
            <%= link_to edit_admin_genre_path do %>
              <%= f.submit '編集する', class: "btn btn-success" %>
            <% end %>
          </div>
        </td>
      </tr>


    <% end %>
    </tbody>
      </table>

   </div>

</div>
