<div class="container">
  <div class="row">
    <h5 class=" offset-md-2 text-center mt-4 mb-4 ml-5" style="background-color:#dcdcdc;">
      &emsp;注文情報入力&emsp;
    </h5>
  </div>

  <%= form_with model: @order, url:orders_comfirm_path do |f| %>

        <h5>支払方法</h5>

        <div class="form-group row ml-4">
          <div class="form-check form-check-inline">
            <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
            <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card], class:"mt-" %>
          </div>
        </div>

       <div class="ml-4 mb-3">
         <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
         <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
       </div>

       <h5>お届け先</h5>

       <div class="ml-4">
         <div class="form-check form-check-inline">
           <%= f.radio_button :select_address, 0 %>
           <%= f.label :address_my_adderess, "ご自身の住所", class: "mb-1" %>
         </div>
       </div>

       <div class="form-group ml-5">
         〒<%= @customer.postal_code %> <%= @customer.address %><br>
          <%= @customer.last_name %><%= @customer.first_name %>
       </div>

       <div class="ml-4">
         <div class="form-check form-check-inline">
           <%= f.radio_button :select_address, 1 %>
           <%= f.label :address_registered_address, "登録済住所から選択", class: "mb-1" %>
         </div>
       </div>

       <div class="form-group ml-5">
         <%#= f.select :address_id, Address.all, :postal_code, :address, :name %>
         <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
       </div>

       <div class="ml-4">
         <div class="form-check form-check-inline">
           <%= f.radio_button :select_address, 2 %>
           <%= f.label :address_new_address, "新しいお届け先", class: "mb-1" %>
         </div>
       </div>

       <div class="form-group ml-5">


           <label class="col-md-3">郵便番号(ハイフンなし)</label>
             <%= f.text_field :postal_code, class:"mb-2", placeholder: "0000000" %><br>

           <label class="col-md-3">住所</label>
             <%= f.text_field :address, class: "col-md-5 mb-2", placeholder: "東京都渋谷区代々木神園町0-0" %><br>

           <label class="col-md-3">宛名</label>
             <%= f.text_field :name, class:"mb-2", placeholder: "令和道子" %>


       </div>

       <%= f.submit '確認画面へ進む', class: "btn btn-primary col-md-2 offset-md-5" %>

  <% end %>


</div>