<!DOCTYPE html>
<html>
  <head>
    <title>ながのCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <div class="container">
          <%= link_to 'ながのCake', class:"navbar-brand" %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown" style>
            <ul class="navbar-nav ml-auto">


            <% if admin_signed_in? %>
              <li>
                <%= link_to "商品一覧", class:"nav-link text_dark" %>
              </li>

              <li>
                <%= link_to "会員一覧", admins_path, class:"nav-link text_dark" %>
              </li>

              <li>
                <%=link_to "注文履歴一覧", items_path, class:"nav-link text_dark" %>
              </li>

              <li>
                <%=link_to "ジャンル一覧", genres_path, class:"nav-link text_dark" %>
              </li>

              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:"nav-link text_dark" %>
              </li>


            <% else %>
              <li>
                <%= link_to  class:"nav-link text_dark" do %>
                  <button type="button" class="btn btn-outline-secondary">About</button>
                <% end %>
              </li>

              <li>
                <%= link_to  class:"nav-link text_dark" do %>
                  <button type="button" class="btn btn-outline-secondary">商品一覧</button>
                <% end %>
              </li>

              <li>
                <%=link_to  class:"nav-link text_dark" do %>
                  <button type="button" class="btn btn-outline-secondary">新規登録</button>
                <% end %>
              </li>

              <li>
                <%= link_to  class:"nav-link text_dark" do %>
                  <button type="button" class="btn btn-outline-secondary">ログイン</button>
                <% end %>
              </li>
            <% end %>

            </ul>
          </div>
        </div>


      </nav>
    </header>
    <%= yield %>
  </body>
</html>
